@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Potta+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif !important;
    background-color: #f8f8f8;
}
/* nvbar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f800;
    padding: 20px;
    z-index: 2;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
}
.nav-links a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}
.nav-links a:hover::before {
    width: 100%;
    left: 0;
}
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px;
    transition: all 0.5s ease-in-out;
}
.scrolled-nav {
    opacity: 1;
    color: #000 !important;
    transition: all 0.5s ease-in-out !important;
    -webkit-transition: all 0.5s ease-in-out !important;
    -moz-transition: all 0.5s ease-in-out !important;
    -ms-transition: all 0.5s ease-in-out !important;
    -o-transition: all 0.5s ease-in-out !important;
}
@media screen and (max-width: 768px) {
    .nav-links a {
        position: relative;
        text-decoration: none;
        color: #000000;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f8f8f800;
        padding: 20px;
    }
    .scrolled-mini {
        background-color: #f8f8f8 !important;
        border-radius: 40px 40px 0 0 !important;
        -webkit-border-radius: 40px 40px 0 0 !important;
        -moz-border-radius: 40px 40px 0 0 !important;
        -ms-border-radius: 40px 40px 0 0 !important;
        -o-border-radius: 40px 40px 0 0 !important;
    }
    .burger {
        display: flex;
        z-index: 2;
    }
    .nav-links {
        margin-top: -5px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: translateY(-100%);
        position: absolute;
        padding: 10px;
        top: 67px;
        left: 0;
        width: 100%;
        background-color: #f8f8f8;
        transition: all 0.5s ease-in-out;
        border-radius: 0 0 40px 40px !important;
        -webkit-border-radius: 0 0 40px 40px !important;
        -moz-border-radius: 0 0 40px 40px !important;
        -ms-border-radius: 0 0 40px 40px !important;
        -o-border-radius: 0 0 40px 40px !important;
        box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.2);
    }
    .nav-links.nav-active {
        opacity: 1;
        transform: translateY(0%);
    }
    .nav-links li {
        opacity: 0;
        padding: 10px;
        transform: translateY(-20px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    .nav-links.nav-active li {
        opacity: 1;
        transform: translateY(0);
    }
    .nav-links li:nth-child(1) {
        transition-delay: 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition-delay: 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition-delay: 0.6s;
    }
    .nav-links li:nth-child(4) {
        transition-delay: 0.8s;
    }
    .burger.open .line:nth-child(1) {
        transform: rotate(-45deg) translate(-7px, 6px);
    }
    .burger.open .line:nth-child(2) {
        opacity: 0;
    }
    .burger.open .line:nth-child(3) {
        transform: rotate(45deg) translate(-6px, -6px);
    }
}
.rounded-circle {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* ! text */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}
.desc {
    text-align: justify;
}
.desc-p {
    font-size: 15px;
    text-align: justify;
}
.desc-p2 {
    font-size: 15px;
    text-align: justify;
}
@media screen and (max-width: 768px) {
    p {
        font-size: 13px;
    }
    .desc {
        font-size: 14px;
    }
    .desc-p {
        font-size: 13px;
        text-align: justify;
    }
    .desc-p2 {
        font-size: 13px;
        text-align: justify;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Potta+One&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mina:wght@700&display=swap');
.title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
}
.sub-title {
    color: #FFB703;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 30px;
}
@media screen and (max-width: 768px) {
    .title {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .sub-title {
        color: #FFB703;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        font-size: 20px;
    }
}
/* button */
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}
.cta1 {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}
.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #FFB703;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}
.cta1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #C5D3E9;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}
.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}
.cta1 span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #ffffff;
}
.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.cta1 svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ffffff;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.cta:hover:before {
    width: 100%;
    background: #FFB703;
}
.cta1:hover:before {
    width: 100%;
    background: #FFB703;
}
.cta:hover svg {
    transform: translateX(0);
}
.cta:hover svg {
    transform: translateX(0);
}
.cta:active {
    transform: scale(0.95);
}
.cta:active {
    transform: scale(0.95);
}
/* card */
.inner {
    --bg-color: #4EA5D9;
    --bg-color-light: #9bc4db;
    --text-color-hover: #fff;
    --box-shadow-color: #4ea6d96c;
}
.sutter1 {
    --bg-color-light: #d12828;
    --text-color-hover: #ec4040;
    --box-shadow-color: #fc2b2b6c;
}
.sutter2 {
    --bg-color-light: #11bc58;
    --text-color-hover: #2bff2b;
    --box-shadow-color: #14ea3b6c;
}
.sutter3 {
    --bg-color-light: #9317da;
    --text-color-hover: #9318d1;
    --box-shadow-color: #842ee76c;
}

.sutter4 {
    --bg-color-light: #11bc58;
    --text-color-hover: #2bff2b;
    --box-shadow-color: #14ea3b6c;
}

.sutter5 {
    --bg-color-light: #9317da;
    --text-color-hover: #9318d1;
    --box-shadow-color: #842ee76c;
}

.sutter6 {
    --bg-color-light: #d12828;
    --text-color-hover: #ec4040;
    --box-shadow-color: #fc2b2b6c;
}

/* .inner {
    --bg-color: #FFB703;
    --bg-color-light: #ffd774;
    --text-color-hover: #fff;
    --box-shadow-color: #4ea6d96c;
} */
.card {
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    width: 220px;
    height: 321px;
    background: #fff;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
}
.card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
        0 24px 46px var(--box-shadow-color);
}
.card:hover .overlay {
    transform: scale(4) translateZ(0);
}
.card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
}
.card:hover .circle:after {
    background: var(--bg-color-light);
}
.card:hover p {
    color: var(--text-color-hover);
}
.card p {
    font-size: 17px;
    color: #4c5656;
    margin-top: 30px;
    z-index: 3;
    transition: color 0.3s ease-out;
}
.circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}
.circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
}
.overlay {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 70px;
    left: 50px;
    z-index: 0;
    transition: transform 0.3s ease-out;
}
.f-icon {
    font-size: 50px;
    color: white;
    z-index: 3;
    transform: translateZ(0);
}
.merah {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}
.ijo {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}
.ungu {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}
.merah:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
    background-image: url(assets/img/merah.png);
    background-size: cover;
}
.ijo:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
    background-image: url(assets/img/hijau.png);
    background-size: cover;
}
.ungu:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
    background-image: url(assets/img/ungu.png);
    background-size: cover;
}
/* blob */
.blobs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.blob {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px;
}
.blob svg {
    width: 100%;
    height: 100%;
}
.blob-content1 {
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}
.blob-content2 {
    position: absolute;
    top: 54%;
    left: 54%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}
.blob-content3 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}
.blob-content4 {
    position: absolute;
    top: 53%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}
.blob-content5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}
.blob-content6 {
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}
.blob-content7 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}
.blob-content8 {
    position: absolute;
    top: 53%;
    left: 53%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}
.number {
    display: block;
    font-size: 24px;
    font-weight: bold;
}
.language {
    display: block;
}
/* blob animation 1-8 */
#bpath,
#bpath2,
#bpath3,
#bpath4,
#bpath5,
#bpath6,
#bpath7,
#bpath8 {
    fill: #4EA5D9;
    transition: all 0.3s ease-in-out;
}
.blob:hover #bpath,
.blob:hover #bpath2,
.blob:hover #bpath3,
.blob:hover #bpath4,
.blob:hover #bpath5,
.blob:hover #bpath6,
.blob:hover #bpath7,
.blob:hover #bpath8 {
    fill: #0099ff;
    transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
    .blobs-container {
        gap: initial;
    }
    .blob {
        width: 150px;
        height: 150px;
        margin: 0;
    }
    .number {
        font-size: 18px;
    }
    .language {
        font-size: 14px;
    }
}
/* gallery */
.row-c {
    margin: 5px;
    position: relative;
}
#gallery {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(6, 1fr);
    grid-gap: 0.5em;
}
@media (max-width: 800px) {
    #gallery {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
    }
    #gallery>div {
        width: 46%;
        margin: 1%;
    }
}
@media (max-width: 800px) and (max-width: 350px) {
    #gallery>div {
        width: 98%;
    }
}
#gallery>div:nth-child(6n+1) {
    grid-column: span 2;
    grid-row: span 2;
}
#gallery>div:nth-child(2) {
    grid-column: span 3;
    grid-row: span 3;
}
#gallery>div:nth-child(4) {
    grid-column: span 1;
    grid-row: span 2;
}
#gallery>div>a {
    opacity: 0;
    position: absolute;
    color: #000;
    background-color: #000;
    font: bold 4em "Helvetica";
    text-shadow: 0 -1px 5px #fff, -1px 0px 5px #fff, 0 1px 5px #fff, 1px 0px 5px #fff;
    padding: 2rem;
    mix-blend-mode: difference;
    width: 100%;
    height: 100%;
    transition: all ease 1s;
}
#gallery>div>img {
    width: 100%;
    min-height: 100%;
    transition: all ease 1s;
    object-fit: cover;
}
#gallery>div:hover img {
    filter: blur(8px);
}
#gallery>div:hover a {
    opacity: 1;
}
#gallery>div {
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}
#gallery div,
#gallery a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
[id^=lightbox-] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    opacity: 0;
    transition: opacity 450ms ease-in-out;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
[id^=lightbox-]:target {
    opacity: 1;
    pointer-events: inherit;
}
[id^=lightbox-]:target img {
    filter: blur(0);
}
[id^=lightbox-] .content {
    max-width: 90%;
    position: relative;
    color: #fff;
}
[id^=lightbox-] .content:hover>a.close {
    opacity: 1;
    transform: scale(1, 1);
}
[id^=lightbox-] .content:hover>.title {
    opacity: 1;
    transform: translateY(-3px);
}
[id^=lightbox-] .content:hover>.title::after {
    opacity: 1;
}
[id^=lightbox-] .content>* {
    transition: all 450ms ease-in-out;
}
[id^=lightbox-] .title {
    display: block;
    margin: 0;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(50%);
    font-size: 1.5em;
    opacity: 0;
}
[id^=lightbox-] .title::after {
    content: " ";
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 350ms ease-in-out 250ms;
    opacity: 0;
    transform-origin: bottom;
    mix-blend-mode: soft-light;
}
[id^=lightbox-] img {
    max-height: 80vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    filter: blur(50px);
}
[id^=lightbox-] a.close {
    width: 2em;
    height: 2em;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0, 0);
    opacity: 0;
    transform-origin: right top;
    text-decoration: none;
    color: #fff;
}
[id^=lightbox-] a.close::after {
    content: "X";
}
/* ---------------------------- */
/* ! Forkafest */
/* ---------------------------- */
.forkafest {
    font-family: 'Lilita One', cursive;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 70px !important;
    line-height: 65px !important;
    background: linear-gradient(270deg, #f1f6fd 50%, #104EAD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 200%;
    color: transparent;
    margin-bottom: 30px;
}
.forkafest-sub {
    font-family: 'Mukta', sans-serif;
    font-size: 25px !important;
    font-weight: 400;
    margin-bottom: 30px;
}
.time-content {
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.time {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.time .angka, .time .teksis {
    color: #0D47A1;
    font-weight: 700;
}
.time .angka {
    font-size: 60px;
    line-height: 65px;
    font-size: normal;
}
.time .teksis {
    font-size: 24px;
    line-height: 65px;
    font-size: normal;
    text-transform: capitalize;
}
.brothree {
    font-family: 'Lilita One', cursive;
}
.brofour {
    font-family: 'Lilita One', cursive;
    display: flex;
    justify-content: center;
    text-align: center;
}
.allin {
    background-color: #d12828;
    color: #fff;
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2);
    padding: 10px 25px;
    font-size: 14px;
}
.iyadong {
    background-color: #d12828;
    color: #fff;
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2);
    padding: 10px 25px;
    font-size: 14px;
}
.modal-container {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    z-index: 9999;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.modal-container.show-m {
    display: flex;
    opacity: 1;
    pointer-events: auto;
}
.modal {
    background-color: #fff;
    width: 600px;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2);
    text-align: center;
}
.modal h1 {
    margin: 0;
}
.modal p {
    font-size: 14px;
    opacity: 0.7;
}
.rowo {
    display: flex;
    text-align: center;
    justify-content: center;
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}
.timeline-container {
    padding: 10px 50px !important;
    position: relative !important;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.timeline-container:nth-child(1) {
    animation-delay: 0s;
}
.timeline-container:nth-child(2) {
    animation-delay: 1s;
}
.timeline-container:nth-child(3) {
    animation-delay: 2s;
}
.timeline-container:nth-child(4) {
    animation-delay: 3s;
}
.timeline-text-box {
    background-color: #fff;
    font-size: 15px;
    padding: 20px 30px !important;
    border-radius: 6px;
    position: relative !important;
}
.left-container {
    left: 0;
}
.right-container {
    left: 50%;
}
.right-container .fa-solid {
    left: 85%;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 4;
    animation: moveline 6s linear forwards;
}
@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}
.timeline-text-box h2 {
    font-weight: 600;
}
.timeline-text-box small {
    display: inline-block;
    margin-bottom: 15px;
}
.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}
.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}
@media screen and (max-width: 600px) {
    .timeline {
        margin: 50px auto;
    }
    .timeline::after {
        left: 31px;
    }
    .timeline-container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .timeline-text-box {
        font-size: 13px;
    }
    .timeline-text-box small {
        margin-bottom: 10px;
    }
    .right-container {
        left: 0;
    }
    .left-container .fa-solid, .right-container .fa-solid {
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: 15px;
    }
}
.learn {
    font-size: 70px;
    font-style: normal;
    line-height: 105px;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
}
.look {
    color: #FFC0C7;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    padding-top: 30px;
}
.french {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 700;
    font-style: normal;
    color: #000;
    line-height: 150px;
}
.fries {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    color: #000;
    line-height: 28px;
    font-weight: 500;
}
.prancis {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px;
    border-radius: 5px;
    margin-left: 30px;
}
@media screen and (max-width: 600px) {
    .learn {
        font-size: 40px;
        line-height: 50px;
    }
    .look {
        font-size: 30px;
        line-height: 40px;
    }
    .french {
        font-size: 50px;
        line-height: 60px;
    }
    .fries {
        font-size: 12px;
        line-height: 20px;
    }
    .prancis {
        margin-left: 0;
    }
}
.satu {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.dua {
    width: 200px;
    height: 43px;
    padding: 10px 20px;
    background-color: #FFB703;
    color: #000;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    border: none;
    border-radius: 25px;
    margin-right: 35px;
}
.dua:last-child {
    margin-right: 0;
}
.tiga {
    width: 200px;
    height: 43px;
    padding: 10px 20px;
    background-color: #0D47A1;
    color: #ffffff;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    border: none;
    border-radius: 25px;
    margin-right: 10px;
}